<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: header">
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<div th:replace="fragments :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Student Details</h2>
                </div>
                <div class="card-body">
                    <p> Student First name  <strong th:text="${student.firstName}"></strong>  </p>
                    <p> Student First name  <strong th:text="${student.lastName}"></strong>  </p>
                    <p> Student First name  <strong th:text="${student.email}"></strong>  </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments :: js-foot">

</div>
</body>
</html>